<div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>About NeIC 2017</h4>
                <div class="hline-w"></div>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry. Lorem Ipsum has been the industry's standard dummy text ever since
                    the 1500s.
                    <br>
                    Website
                    (c) <a href="http://bast.fr/">Radovan Bast</a> -
                    built using the <a href="http://blacktie.co/2014/05/solid-multipurpose-theme/">Solid</a> theme.
                </p>
            </div>
            <div class="col-lg-4">
                <h4>Social</h4>
                <div class="hline-w"></div>
                <p>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                </p>
            </div>
            <div class="col-lg-4">
                <h4>Contact</h4>
                <div class="hline-w"></div>
                <p>
                    Fantasy road 137
                    <br>
                    9008 Tromso
                    <br>
                    Norway
                </p>
            </div>
        </div>
    </div>
</div>
