<div class="container mtb">
    <div class="row">
        <div class="col-lg-6">
            <img class="img-responsive" src="https://events.nordu.net/download/thumbnails/20807752/_29B3598.jpg" width=100% alt="">
            {% comment %}
            <br>
            <a class="twitter-timeline"
               data-widget-id="756415374208471040"
               href="https://twitter.com/hashtag/neic2017"
               data-chrome="nofooter noborders transparent">
               Tweets by @hpc_uit
            </a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            {% endcomment %}
        </div>

        <div class="col-lg-6">
            {{ page.content }}
            <p><br/><a href="{{ site.baseurl }}/404/" class="btn btn-theme">Register</a></p>
        </div>
    </div>
</div>
