<div class="container mtb">
    <div class="row">
        <div class="col-lg-3">
            <div class="spacing"></div>
            <img src="{{ page.photo }}" alt="{{ page.name }}" style="width:100%">
        </div>

        <div class="col-lg-9">
            <div class="spacing"></div>
            <p><b>{{ page.name }}</b></p>
            <p><b>Organization:</b> {{ page.organization }}</p>
        </div>

        <div class="col-lg-12">
            <div class="spacing"></div>
            <h4>Bio</h4>
            <p>{{ page.content }}</p>
        </div>
    </div>
</div>
