{% for day in site.schedule %}
    {% for section in day.sections %}
        {% if section.type == 'conference' %}
            {% if section.session == page.session %}
                {% assign day = day.day %}
                {% assign time = section.time %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endfor %}

{% for session in site.sessions %}
    {% if session.session == page.session %}
        {% assign session_title = session.title %}
    {% endif %}
{% endfor %}

<div class="container mtb">
    <div class="row">
        <div class="col-lg-12">
            <h2>
                <div class="lowlight">Talk:</div>
                {{ page.title }}
            </h2>
        </div>

        <div class="col-lg-6">
            {{ page.content }}
        </div>

        <div class="col-lg-6">
            <p><div class="highlight">Speaker:</div> <a href="{{ site.baseurl }}/people/{{ page.speaker | downcase | replace:' ','-' }}">{{ page.speaker }}</a></p>
            <p><div class="highlight">Session:</div> <a href="{{ site.baseurl }}/sessions/{{ page.session }}/">{{ session_title }}</a></p>
            <p><div class="highlight">Date:</div> {{ day }}</p>
            <p><div class="highlight">Session time:</div> {{ time }}</p>
        </div>
    </div>
</div>
