{% for day in site.schedule %}
    {% for section in day.sections %}
        {% if section.type == 'workshop' %}
            {% for session in section.sessions %}
                {% if session.name == page.session %}
                    {% assign day = day.day %}
                    {% assign time = section.time %}
                    {% assign room = session.room %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endfor %}

<div class="container mtb">
    <div class="row">
        <div class="col-lg-12">
            <div id="session_title">
                <div id="session_type">Workshop:</div>
                {{ page.title }}
            </div>
        </div>

        <div class="col-lg-6">
            {{ page.content }}
        </div>

        <div class="col-lg-6">
            <p><b>Date:</b> {{ day }}</p>
            <p><b>Time:</b> {{ time }}</p>
            <p><b>Room:</b> {{ room }}</p>
            {% assign person = site.people | where: "name", page.chair  | first %}
            <p><b>Session chair:</b> <a href="{{ site.baseurl }}/people/{{ person.name | downcase | replace:' ','-' }}">{{ person.name }}</a></p>
        </div>
    </div>
</div>
